public net.minecraft.world.level.entity.TransientEntitySectionManager$Callback
public net.minecraft.world.level.entity.PersistentEntitySectionManager$Callback
public net.minecraft.server.level.ServerLevel$EntityCallbacks
public net.minecraft.client.multiplayer.ClientLevel$EntityCallbacks
public-f net.minecraft.world.entity.Entity m_142467_(Lnet/minecraft/world/entity/Entity$RemovalReason;)V
public-f net.minecraft.world.entity.LivingEntity m_21233_()F
public net.minecraft.world.entity.LivingEntity f_20919_
public net.minecraft.world.entity.LivingEntity f_20890_
public net.minecraft.world.entity.LivingEntity f_20961_
public net.minecraft.network.syncher.SynchedEntityData f_135348_
public net.minecraft.network.syncher.SynchedEntityData f_135345_
public net.minecraft.network.syncher.SynchedEntityData$DataItem
public net.minecraft.network.syncher.SynchedEntityData$DataItem f_135392_
public-f net.minecraft.network.syncher.SynchedEntityData$DataItem f_135391_
public net.minecraft.network.syncher.EntityDataAccessor id
public net.minecraft.client.gui.Gui f_92986_
public net.minecraft.client.gui.Gui f_92985_
public net.minecraft.client.gui.Gui f_92989_
public-f net.minecraft.world.entity.Entity m_213877_()Z
public-f net.minecraft.world.entity.Entity f_146795_
public-f net.minecraft.world.entity.Entity f_19804_
public-f net.minecraft.world.entity.Entity m_20343_(DDD)V
public-f net.minecraft.world.entity.Entity f_19825_
public-f net.minecraft.world.entity.Entity f_19826_
public-f net.minecraft.world.entity.Entity f_185933_
public-f net.minecraft.world.entity.Entity f_19853_
public net.minecraft.world.entity.Entity
public-f net.minecraft.world.entity.Entity f_185934_
public-f net.minecraft.world.entity.Entity f_146801_
public-f net.minecraft.world.entity.player.Player f_36093_
public net.minecraft.world.effect.MobEffect initClient()V
public net.minecraft.world.level.storage.loot.LootTable f_79109_ # pools
public net.minecraft.world.level.storage.loot.LootTable f_79110_ #functions
public net.minecraft.world.level.storage.loot.LootPool f_79023_ #entries
public net.minecraft.world.level.storage.loot.LootPool f_79024_ #conditions
public net.minecraft.world.level.storage.loot.entries.LootItem f_79564_ #item
public net.minecraft.world.level.storage.loot.entries.TagEntry f_79821_ #tag
public net.minecraft.world.level.storage.loot.entries.CompositeEntryBase f_79428_ #children
public net.minecraft.world.level.storage.loot.entries.LootPoolSingletonContainer f_79677_ #functions
public net.minecraft.world.level.storage.loot.entries.LootTableReference f_79754_ #name
public net.minecraft.world.level.storage.loot.entries.LootPoolSingletonContainer f_79675_ #weight
public net.minecraft.world.level.block.entity.BrushableBlockEntity f_276531_ # brushCount
public net.minecraft.world.level.block.entity.BrushableBlockEntity f_276679_ # brushCountResetsAtTick
public net.minecraft.world.level.block.entity.BrushableBlockEntity f_276557_ # coolDownEndsAtTick
public net.minecraft.world.level.block.entity.BrushableBlockEntity f_276638_ # hitDirection
public net.minecraft.world.level.block.entity.BrushableBlockEntity f_276563_ # item
public net.minecraft.world.level.block.entity.BrushableBlockEntity f_276466_ # lootTable
public net.minecraft.world.level.block.entity.BrushableBlockEntity f_276487_ # lootTableSeed
public net.minecraft.world.entity.projectile.AbstractArrow f_36703_ #inGround
public net.minecraft.world.effect.MobEffectInstance f_19503_ # duration
# Template placeholder to prevent Groovy expansion errors
# ${mod_id}
# ${minecraft_version}